VITE_SUPABASE_URL=https://qvgskxjebafidgosneoy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2Z3NreGplYmFmaWRnb3NuZW95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0NzU3MTcsImV4cCI6MjEwMzA1MTcxN30.mERq7wBou4zwJDD6fm0Xi6GtggHrN7YiNW0U28SC5cI
VITE_API_URL=http://localhost:8000/api
